/* 헤더 포지션 */
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
/* 자라 글씨 처리 */
.header-top .banner {
font-size: 150px;
text-align: center;
letter-spacing: 30px;
color: black;

}

/* ==우측 상단 로그인 부분== */
.header-top > ul {
position: absolute;
top: 10px;
right: 10px;
list-style: none;
}

.header-top  > ul li {
/* 옆으로 착착 */
float: left;
margin: 10px 20px;   
}
.header-top  > ul >li a {             
text-decoration: none;
color: #555;
outline: 0;
}

/* ==헤더 메뉴== */   
header > .navbar {
  height: 45px;
  background: #444;
  text-align: center;
}

.navbar{
background-color: #555;
margin: 0;
}


.navbar > ul {
text-align: center;
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;

}

header > .navbar ul li {
display: inline-block;
}
header >.navbar ul li a{
color: white;
display: block;
height: 40px;
line-height: 45px;
padding: 0 20px;
margin: 0 10px;
border-bottom: 1px solid #444;
/* 애니메이션 효과 */
transition: all 0.5s linear 0s;
}

/* == 섹션==  */
.main {
text-align: center;
margin: 0px auto 0px auto;
width: 1200px;
height: 750px;
position: relative;
}
.main img{
border: 0;
}



/* 메인 문구 */

.main_text {
position: absolute;
top: 50px;
right: 20px;
}
.main h2 {
font-size: 36px;
background: rgba(0,0,0,0.3);
padding: 10px;
color: #fff;
margin-bottom: 5px;
}
h2 {
display: block;
font-size: 1.5em;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}
.main p {
font-size: 18px;
background: rgba(0,0,0,0.3);
padding: 10px;
color: #fff;
margin-bottom: 5px;
}
p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

/* 우측 사이드 */
.right-side{
position: fixed;
right: 0;
top: 400px;
z-index: 11;

}
.right-side li{
background-color: rgb(54, 54, 54);
text-align: center;
padding: 5px 20px;
border-bottom: 1px solid #7777;
list-style: none;
}  
.right-side li a span{
display: block;
text-decoration: none; /* 글씨 선 없이 */
color: white;
font-size: 15px;
}

.contents {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}


/* 호버 */

.content{
position: relative;
overflow: hidden;
padding-right: 0px;
margin-bottom: 20px;
}
.inner:hover .hover-content {
opacity: 1;
}

.content .hover-content {
position: absolute;
display: block;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,.8);
opacity: 0;
transition: opacity 0.5s ease-in;
}

.content  .hover-content a {
display: block;
width: 100%;
height: 100%;
color: #fff;
font-size: 15px;
line-height: 20px;
font-weight: bold;
text-align: center;
text-decoration: none; /* 글씨 선 없이 */
}
