/* ====from, btn 윤곽 ====== */
.form-control {
  border-radius: 0;
}
.form-control:focus {
  border-color: black;
}
.bnt {
  border-radius: 0;
}
/* ======header====== */
section {
  margin: 50px;
}

.my-header {
  background-color: rgb(8, 8, 8);
  position: fixed; /* 해더 고정- body기준 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  /* z측으로 50 */
}
.my-header a {
  color: white;
  font-size: 15px;
}
/*  */
.navbar {
  /*  마진을 없앰 */
  margin-bottom: 0;
}
.navbar-brand {
  padding: 10px 20px;
}
/* 가상선택자  */
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: rgb(70, 69, 71);
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: rgb(70, 69, 71);
}

/* 윤각선- 보더에 컬러  */
.navbar-toggle {
  border-color: white;
}
.navbar-toggle .icon-bar {
  background-color: white;
}

/* ==========footer========= */
footer {
  background-color: rgb(8, 8, 8);
  color: white;
  font-size: 13px;
  padding: 40px 0; /* 위아래 , 좌우  */
  margin: 0px; /*footer 바깥여백 70, 본문 영역에 붙지 않도록 */
}
footer .footer-copyrigth address {
  margin-bottom: 0;
}
footer .footer-menu {
  text-align: right; /* 부트스크립에서 제공함 */
}
footer .footer-menu li {
  display: inline-block; /*한줄로 만들기  */
  padding: 0 10px; /* 위아래 0 좌우 10 */
}
footer .footer-menu li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

/* ========banner============ */
.my-banner {
  margin-top: 50px;
}
.left carousel-control,
.right carousel-control {
  /* 암영 입히기 */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    0,
    rgba(0, 0, 0, 0) 100%
  );
}

/* =========index -- 박스 설정=========== */

.prod-list,
.prod-box {
  display: block; /* 블럭요소로 변경 */
  border: 1px solid rgb(197, 197, 197);
  text-align: center; /* 블럭이나 text를 가운데로 */
}

.prod-list,
.prod-list > li {
  padding: 5px; /* 가장 바깥, 숨긴 박스 패딩 5 */
}
.prod-box {
  position: relative;
}
.prod-box .arrow {
  display: block; /* 높이 넓이를 사용하기 위해 블럭지정 */
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: absolute; /* 부모기준으로 띄우기 / 위치 기반으로 올릴 부모클래스에relative  */
  bottom: 20px;
  left: 20px;
  background-color: #ccc;
  color: white;
  opacity: 1;
}

.prod-box .hover {
  display: block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #0096e4;
  color: white;
  font-size: 14px;
  opacity: 0; /* (오퍼시티) 투명도 : 0~1 */
}
/* hover 기능시(프로드 박스에 호버가 올라갓을때 그 직속의 )arrow 의 투명도 변경 */
.prod-box:hover > .arrow {
  opacity: 0;
}

.prod-box:hover > .hover {
  opacity: 1;
}

/*  호버 시 자신의 보더(윤곽 라인) 변화 */
.prod-box:hover {
  border: 1px solid #0096e4;
}

/* =====상품그리드======= */
/* 이미지 중심으로 설정 */
.prod-img {
  text-align: center;
}
/* 부모영역에 hidden */
.prod-content {
  overflow: hidden;
  padding: 20px 0px;
}
.prod-info {
  float: left;
}
.prod-price {
  display: block;
  float: right;
}
.prod-info span {
  display: block;
}
/* 숨겨놓은 영역 */
.prod-color {
  margin-top: -36px 0px;
  opacity: 0;
  /* 트렌지션(transition , 애니메이션- 젼경할 옵션, 주기, 변경 속도, 딜레이초)
    : 오퍼시티옵션을 0.5초 로 빨라졌다 느려졌다를 보여줌 */
  transition: opacity 0.5s ease-in-out;
}
.prod-color ul {
  overflow: hidden;
}
.prod-color ul li {
  float: left;
}

.prod-list2:hover > .prod-color {
  opacity: 1;
}

.text-center {
  overflow: hidden;
}
.text-center ul {
  margin: 0;
}
.text-center button {
  float: right;
  padding: 4px 12px;
}

/* ==========회원가입========= */
/* 제목 박스 */
.title-box {
  width: 250px;
  margin: 60px auto; /* 박스정렬 */
  text-align: center; /* 글씨 정렬 */
  padding: 20px 40px;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}
.join-form {
  /* 하나의 그리드 상자를 가운데 정렬을 하는 방법 */
  margin: 0 auto; /* 가운데 정렬이 안되는 이유 - col관련된 클래스들이 float을 가지고 있기 떄문 */
  float: none;
}

.join-form form {
  border: 1px solid #777;
  border-radius: 8px; /* 모서리를 둥글게 깍아줌 */
  box-shadow: 0px 8px 16px rgb(184, 184, 184); /* 박스 그림자 (가로 세로 흐릿정도색상) */
  padding: 50px;
}
/* 767px 미만일때 적용 (col-xs가 작동하는 틱셀과 같음) */
@media (max-width: 767px) {
  .join-form form {
    padding: 50px 10px;
  }
}

/* ===로그인화면에만 적용되는 디자인 ===*/
.login-form {
  margin: 0 auto;
  float: none;
}
.login-form form {
  border: 1px solid #777;
  border-radius: 8px;
  padding: 50px;
  box-shadow: 0px 6px 12px #777;
}

/* =====탭 스타일======= */
/* 토글탭 basic */
.tabs-basic >li {
  width: 25%;
}
.tabs-basic >li >a:hover{
  background-color: #dddddd;
}
.tabs-basic >li >a{
 color:#555;
 margin: 0;
 text-align: center;
}
/* 토글텝 디자인 */
.tabs-style{
  margin: 0 auto;
  float: none;
}
/* 활성화된 a태그를 의미 */
.tabs-basic2 li.active > a,
.tabs-basic2 li.active > a:focus
.tabs-basic2 li.active > a:hover{
background-color: rgb(52,117,128);
color: white;
}
/* 기본 a 태그 */
.tabs-basic2 > li>a {
margin-right: 0;
border-radius: 0; /* 모서리 둥글게 */
background-color: rgb(51,165,185);
color: white;

}
/* 기본 a 태그에 hover가 된 경우를 의미 */
.tabs-basic2 > li > a:hover{
  background-color:rgb(75, 40, 202);
  color: white;
  border: none;
}
/* ===== 내 정보  관리  */
.m-control >tr > .m-title{
  width: 110px;
  vertical-align: middle ;

}
/* 테이블 안 기분이 없는  */

/* 중간싸이즈 */
.m-control .m-md {
  width: 200px;
  display: inline;
}
/* 작은 사이즈 */
.m-control .m-sm {
  width: 150px;
  display: inline;
}
.m-footer{
  text-align: center;
}

/* =====페이스북 그리드===== */
.section-facebook{
border-right: 1px solid #cccccc;
border-left: 1px solid #cccccc;
}

.title-inner{
  position: relative; /* 부모영역 */
}
.title-inner .profile{
  position: absolute;
  left: 0;
  top: 0;
}

.title-inner .title{
  padding-left: 60px;
}
/* 위아래10, 죄우 0 */
.content-inner{
  padding: 10px 0;
}

.like-inner,
.button-inner{
  border-top: 1px solid #cccccc ;
}
.like-inner{
  margin-top: 10px;
}
.like-inner a{
  text-decoration: none;
  color: black;

}

.like-inner span{
  vertical-align: middle;
}

.button-inner{
  overflow: hidden;
}
.button-inner a{
  float: left;
  width: 33.333333%;
  text-align: center;
  color: black;
  padding: 10px 0;
}
.button-inner i{
  margin: 0 5px;
}
/*좌측 메뉴에 xs 에서 안보이도록 */
@media (max-width:767px){
  .aside-facebook{
    display: none;
  }
}
